.clients {
    padding-top: 94px;
    padding-bottom: 94px;

    &-title {
        color: #212121;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 1.08px;
    }
    &-list {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }
    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #AFB1B8;
        outline: 1px solid #AFB1B8;
        border-radius: 4px;
        padding: 16px 32px 16px 32px;
        transition: all 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-link svg {
        fill: currentColor;
    }
    &-link:hover {
        color: $active-link-color;
        outline: 1px solid $active-link-color;
    }
}
