.footer {
    background-color: $bkg-color;
    color:white;
    width: 100%;
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 60px;


    &-wrap {
        @include flex(flex, _, center);
        gap: 70px;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        gap: 9px;
        padding-top: 20px;
    } 
    
    &-logo {
        @include property(26px, normal, 700, Raleway, white);
        line-height: 1.2;
        letter-spacing: 0.03em;
    }
    .logo {
        @include property(26px, normal, 700, Raleway, #2196F3);
        line-height: 1.2;
        letter-spacing: 0.03em;
    }
    .address-list-location { 
        @include property(14px, normal, 400, Roboto, #FFFFFF);
        line-height: 1.7;
        letter-spacing: 0.03em;
    }
    .address-list-link {
        @include property(14px, normal, 400, Roboto, #FFFFFF99);
        line-height: 1.7;
        letter-spacing: 0.03em;
    }
    &-title {
        @include property(14px, normal, 700, Roboto, #FFFFFF);
        padding-bottom: 20px;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }
    &-list {
        @include flex(flex, _, center);
        gap: 10px;
    }
    &-list-item-link {
        @include flex(flex, center, center);
        padding: 12px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.10);
        color: #FFFFFF;
        transition: all 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-list-item-link svg {
        fill: currentColor;
    }
    &-list-item-link:hover {
        background-color: #2196F3;
        color: #FFFFFF;
    }
    
    &-form-title {
        @include property(14px, normal, 700, Roboto, #FFF);
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &-form-label {
        @include flex(flex, _, center);
        gap: 12px;
    }
    &-input {
        width: 358px;
        height: 50px;
        border-radius: 4px;
        padding: 15px 16px 15px 16px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background-color: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: #fff;
    }
    &-input:focus-visible {
        outline: 1px solid $active-link-color;
    }
    
}
