header {
    position: sticky;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 2px solid #ECECEC;

    .nav {
        display: flex;
        justify-content: space-between;
        gap: 93px;
        align-items: center;

        &-list {
            display: flex;
            gap: 50px;
        }
        &-list-link {
            color: $main-color; 
            font-weight: 400;
            line-height: 1.1;
            letter-spacing: 0.02em;
            font-size: inherit;
            text-align: left;
            transition: all 0.5s;
            position: relative;
            padding: 32px  2px 29px 2px;
            transition: all 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
        &-list-link:hover {
            color: $active-link-color;
        }
        
        &-list-link::after {
            content: "";
            position: absolute;
            margin-top: -1px;
            top: 100%;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: transparent;
            border-radius: 2px;
            transition: all 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
        &-list-link:hover::after, 
        &-list-link.active::after {
            background-color: $active-link-color;
        }
        .active {
            color: $active-link-color;
        }
    }
    .wrap-nav {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding-top: 25px;
        padding-bottom: 25px;
        display: flex;
        justify-content: space-between;
        gap: 93px;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    .contacts-list {
        display: flex;
        gap: 50px;
        margin-left: auto;

        &-link {
            color: $main-color;
            font-size: inherit;
            font-weight: 500;
            line-height: 1.1;
            letter-spacing: 0.02em;
            transition: all 250ms;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        }
        &-link svg {
            fill: currentColor;
        }
        &-link:hover {
            color: #2196F3;
        }
        &-link {
            font-weight: 400; 
            color: #757575;
            line-height: 1.1;
            letter-spacing: 0.02em;
            text-align: left;
        }
    }
    
    .logo {
        font-family: Raleway; 
        color:  #2196F3;
        font-size: 26px;
    } 
    .header-logo {
        font-family: Raleway;
        color: black; 
        font-size: 26px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-align: left;
    }
    .studio {
        font-weight: 500;
        color: #2F303A;
        font-size: 26px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-align: left;
    }
}
