
header {
    position: sticky;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 1;
    border-bottom: 2px solid #ECECEC;
}
.wrap-nav {
    @include flex(flex, space-between, center);
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
}
.nav {
    @include flex(flex, space-between, center);
    gap: 87px;

    &-list {
        display: flex;
        gap: 50px;
    }
    &-list-link {
        @include property(14px, normal, 500, Roboto, $main-color);
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: left;
        transition: all 0.5s;
        position: relative;
        // padding: 32px  2px 29px 2px;
        transition: all 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-list-link:hover {
        color: $active-link-color;
    }
    
    &-list-link::after {
        content: "";
        position: absolute;
        // margin-top: 8px;
        top: 100%;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: transparent;
        border-radius: 2px;
        transition: all 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-list-link:hover::after, 
    &-list-link.active::after {
        background-color: $active-link-color;
    }
    .active {
        color: $active-link-color;
    }
}
.logo {
    @include property(26px, normal, 700, Raleway, $active-link-color);
} 
.header-logo {
    @include property(26px, normal, 700, Raleway, $main-color);
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: left;
}
.menu-toggle {
    display: none;
}

@include phone(767px) {

    header {

        .wrap-nav {
            @include flex(flex, space-between, center);

            .nav {
                @include flex(flex, _, _);
    
                &-list {
                    display: none;
                }
            }
            .contacts-list {
                display: none;
            }
        }
    }

    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 32px;
        background-color: white;
        z-index: 999;
      
        transform: translateX(100%);
        transition: transform 250ms ease-in-out;

        .mobile-menu {
            padding: 0;
            margin: 0;
            list-style: none;
            .link {
                @include property(46px, normal, 500, Roboto, $main-color);
                display: block;
                margin-bottom: 35px;
            }
            .active {
            color: #2196F3;
            }
          }
          
          .mobile-menu-number {
            .number {
                @include property(40px, normal, 500, Roboto, #2196F3);
                display: block;
                margin-top: 302px;
                margin-bottom: 32px;
            }
            .location {
                @include property(28px, normal, 500, Roboto, #757575);
                margin-bottom: 64px;
            }
          }

          .mobile-menu-link {
            @include flex(flex, center, center);
            margin-top: 64px;
            .link {
                @include property(18px, normal, 500, Roboto, #2196F3);
                border-right: 2px solid #21212133;
                padding-right: 10px;
                padding-left: 10px;
            }
          }
      }
      
      .menu-container.is-open {
        transform: translateX(0);
      }
      
      .menu-container .menu-toggle {
        position: absolute;
        top: 16px;
        right: 16px;
        color: #fff;
      }
      
      

      .menu-toggle {
        @include flex(flex, center, center);
        background-color: white;
        padding: 2px;
        min-height: 40px;
        min-width: 40px;
        margin: 0;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        outline: none;
    }
}

@include tab (1199px) {
    header {

    
        .nav-list-link {
            padding: 32px 2px 37px 2px;
        }
        .contacts-list {
            @include flex(flex, _, _);
            flex-direction: column;
            gap: 10px;
            margin-left: auto;
    
            &-link {
                @include property(14px, normal, 500, Roboto, $main-color);
                line-height: 1.1;
                letter-spacing: 0.02em;
                transition: all 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
                &:hover {
                    color: #2196F3;
                }
            }
            &-icon {
                fill: currentColor;
            }
    
            &-link {
                @include property(14px, normal, 400, Roboto, #757575);
                line-height: 1.1;
                letter-spacing: 0.02em;
                text-align: left;
            }
        }
    }
}

@include desc(1200px) {

    header {

        .wrap-nav {
            gap: 93px;

            .nav-list-link {
                padding: 32px  2px 29px 2px;
            }
        }
    
        .contacts-list {
            display: flex;
            flex-direction: row;
            gap: 50px;
            margin-left: auto;
    
            &-link {
                @include property(14px, normal, 500, Roboto, $main-color);
                line-height: 1.1;
                letter-spacing: 0.02em;
                transition: all 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
                &:hover {
                    color: #2196F3;
                }
            }
            &-icon {
                fill: currentColor;
            }
    
            &-link {
                @include property(14px, normal, 400, Roboto, #757575);
                line-height: 1.1;
                letter-spacing: 0.02em;
                text-align: left;
            }
        }
    }
    
}
    


