.section-work {
    padding-top: 94px;
    padding-bottom: 94px;

    .work-list {
        @include flex(flex, space-between, center);
        gap: 30px;

        &-item-wrap {
            position: relative;
            max-width: 370px;
            width: 100%;
        }
        &-item-desc {
            @include property(14px, normal, 700, Roboto, #FFF);
            max-width: 370px;
            width: 100%;
            text-align: center;
            letter-spacing: 0.42px;
            text-transform: uppercase;
            background: rgba(47, 48, 58, 0.80);
            padding-top: 27px;
            padding-bottom: 27px;
            position: absolute;
            bottom: 0;
        }
    }
    &-title {
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 50px;
    }
    .list-item-img {
        max-width: 370px;
        width: 100%;
    }
}

