.btn-open {
    background-color: $active-link-color;
    color: white;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
    margin: 0 auto;
    transition: all 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transform: scale(1.05);
    }
}

.footer-form-btn {
    padding: 10px 28px 10px 28px;
    border-radius: 4px;
    background-color: $active-link-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition:  background-color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    margin: 0 auto;

    &:hover {
        background-color: #145c96;
    }
    
}
.footer-form-btn svg {
    fill: currentColor;
}


.btn-submit {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;

    padding: 10px 52px 10px 52px;
    border-radius: 4px;
    background-color: $active-link-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: all 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #1677c4;
    }
}

// portfolio

@media screen and (max-width: 767px) {
    .filter-list {
        @include flex(flex,_, center);
        gap: 8px;

        &-btn {
            padding: 6px 25px 6px 25px;
        }
    }
}
.filter-list {
    display: flex;
    gap: 8px;

    &-btn {
        z-index: 2;
    }
    &-btn:active:before {
        content: '';
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    &-btn:active .loader {
        z-index: 2;
        width: 48px;
        height: 48px;
        border: 5px solid #fff;
        border-bottom-color: transparent;
        border-radius: 50%;
        animation: rotation 2s linear infinite;
    
        display: flex;
        position: fixed;
        top: 50vh;
        left: 50vw;
        z-index: 2;
    }
    &-btn:hover {
        transition: all 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        color: white;
        background-color: #2196F3;
        box-shadow: 0px 2px 2px 0px #0000001F;
    }
    &-btn {
        background-color: #F5F4FA;
        padding: 8px 20px 8px 20px;
        border: none;
        border-radius: 3px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        text-align: center;
    }
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
.wrap-portfolio {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section-portfolio {
    text-align: center;
    padding-top: 94px;
    padding-bottom: 40px;
}
